
@{
    ViewBag.Title = "CreateContact";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>İletişim Bilgisi Ekle</h2>

<form method="post">
    <label>Telefon Numarası</label>
    <br />
    <input type="tel" name="Phone" class="form-control" />
    <br />
    <label>Mail</label>
    <br />
    <input type="email" name="Email" class="form-control" />
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>

