
@{
    ViewBag.Title = "CreateExpertises";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>Uzmanlık Ekleme Sayfası</h2>
<br />
<form method="post">
    <label>Uzmanlık</label>
    <input type="text" name="Title" class="form-control" />
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>

