@model Tuple<List<MyPortfolioMVC.Models.TblContact>, List<MyPortfolioMVC.Models.TblSocialMedia>>
<section id="contact" class="s-contact target-section">

    <div class="row contact-top">
        <div class="column lg-12">
            <h2 class="text-pretitle">
                İletişime Geçin
            </h2>

            <p class="h1">
                Benimle iletişime geçmek isterseniz bana ulaş butonundan mesaj gönderebilirsiniz.
            </p>
        </div>
    </div> <!-- end contact-top -->



    <div class="row contact-bottom">
        <div class="column lg-3 md-5 tab-6 stack-on-550 contact-block">
            <h3 class="text-pretitle">Bana Ulaş.</h3>
            <p class="contact-links">
                @foreach(var item1 in Model.Item1)
                {
                <a href="mailto:@item1.Email" class="mailtoui">@item1.Email</a><br>
                <a href="tel:+90+@item1.Phone">@item1.Phone</a>
                }
            </p>
   
        </div>
        <div class="column lg-4 md-5 tab-6 stack-on-550 contact-block ml-2" style="margin-right:30px;">
            <h3 class="text-pretitle">Sosyal Medya</h3>
            <ul class="contact-social">
                @foreach (var item2 in Model.Item2)
                {
                    <li><a href="@item2.Url">@item2.Name</a></li>
                }
                </ul>
        </div>
            
        <div class="column lg-4 md-12 contact-block">
            <a href="#contact2" class="btn btn-primary">
                Bana Ulaşın
            </a>

        </div>
    </div>




</section>




<section id="contact2" class="s-contact target-section">

    <div class="row contact-top">
        <div class="column lg-12 md-6 tab-6 stack-on-550 contact-block">
            <h2 class="text-pretitle">
                Mesaj Gönderin
            </h2>
            <form class="column lg-12" method="post" action="/Default/SendMessage/">
                <label>Ad Soyad</label>
                <input type="text" name="Name" class="form-control" required />
                <br />
                <label>Email</label>
                <input type="email" name="Email" class="form-control" required />
                <br />
                <label>Konu</label>
                <input type="text" name="Subject" class="form-control" required />
                <br />
                <label>Mesajınız</label>
                <textarea type="text" name="MessageContent" class="form-control" rows="4" required></textarea>
                <br />
                <button class="btn btn-outline-dark">Mesajı Gönder</button>


            </form>
        </div>
    </div> <!-- end contact-top -->








</section>

