@model List<MyPortfolioMVC.Models.TblCategory>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>Kategoriler</h2>
<br />
<table class="table table-bordered"
       <thead>
    <tr>
        <td>#</td>
        <td>Kategori Adı</td>
        <td>Sil</td>
        <td>Güncelle</td>
    </tr>
        </thead>
       <tbody>
           @foreach (var item in Model)
           {
               <tr>
                   <td>@item.CategoryId</td>
                   <td>@item.Name</td>
                   <td><a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-outline-danger"> Sil</a></td>
                   <td><a href="/Category/UpdateCategory/@item.CategoryId" class="btn btn-outline-info"> Güncelle</a></td>                     
               </tr>
           }
       </tbody>
</table>
<br />
<a href="/Category/CreateCategory" class="btn btn-success"> Yeni Kategori Ekle</a>

