
@{
    ViewBag.Title = "CreateBanner";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>Banner Ekleme Sayfası</h2>

<form method="post">
    <label>Başlık</label>
    <br />
    <input type="text" name="Title" class="form-control" />
    <br />
    <label>Açıklama</label>
    <br />
    <textarea name="Description" class="form-control" maxlength="150"></textarea>
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>

