@model MyPortfolioMVC.Models.TblBanner
@{
    ViewBag.Title = "UpdateBanner";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>Banner Güncelleme Sayfası</h2>
<br />
<form method="post">
    @Html.HiddenFor(x => x.BannerId)
    <label>Başlık</label>
    <br />
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    <br />
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control",maxlength = 150 })
    <br />
    <button class="btn btn-outline-success">Banner Güncelle</button>
</form>